﻿body {
    font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
    font-size: 16px;
}

#currencyTable table {
    border-collapse: collapse;
}

    #currencyTable table th, #currencyTable table td {
        padding: 2px 6px;
    }

    #currencyTable table td {
        text-align: right;
    }

#currencyTable .loading td {
    text-align: left;
}

#currencyExchangeService {
    overflow: hidden;
    width: 450px;
    height: 24px;
    border: 1px solid #999;
}

    #currencyExchangeService .inner {
        width: 9999px;
    }

    #currencyExchangeService ul {
        display: inline-block;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    #currencyExchangeService li {
        display: inline-block;
        margin-right: 8px;   
    }

    /*<li data-symbol="{CurrencySign}"><span class="symbol">{CurrencySign}</span><span class="price">{USDValue}</span><span class="rateChange">{PercentChange}</span></li>*/
    #currencyExchangeService .currencySign {
        font-weight: bold;
    }

    #currencyExchangeService .rateChange {
        font-style: italic;
    }